@font-face {
    font-family: "Neue Montreal Bold";
    src: local("NeueMontreal-Bold");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Neue Montreal Light";
    src: local("NeueMontreal-Light");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Neue Montreal Medium";
    src: local("NeueMontreal-Medium");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Neue Montreal";
    src: local("NeueMontreal-Regular");
    font-weight: normal;
    font-style: normal;
}

.container-ActivityTypes, .container-FeaturedTours{
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 50px;
}
.activity-types_1{
    border: 1px solid #091d30;
    border-radius: 50px;
    width: 275px;
    height: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}
.activity-types_1 img{
    width: 150px;
    height: 150px;
}
.activity-types_1 h1, .activity-content_1 h1{
    text-decoration: none;
    color: #f27c04;
    font-weight: bold;
    text-align: center;
}
.activity-types_1 h2, .activity-content_1 h2{
    text-align: center;
}

.activity-types_2{
    border: 1px solid #091d30;
    border-radius: 50px;
    width: 275px;
    height: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}
.activity-types_2 img{
    width: 150px;
    height: 150px;
}
.activity-types_2 h1, .activity-content_2 h1{
    text-decoration: none;
    color: #f27c04;
    font-weight: bold;
    text-align: center;
}
.activity-types_2 h2, .activity-content_2 h2{
    text-align: center;
}
.H1_Playas h1{
    text-decoration: none;
    color: #091d30;
    font-weight: bold;
    font-size: 71px;
    text-align: center;
}

.H1_Playas h3{
    text-decoration: none;
    color: #091d30;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.featured-tours{
    justify-content: space-around;
    flex-wrap: wrap;
    width:80%;
}
.featured-activities_1{
    border: 1px solid #091d30;
    border-radius: 50px;
    width: 275px;
    height: 450px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    position: absolute;
    left: 20%;

    
}
.activity-photo_1{
    height: 49%;
}
.activity-content_1{
    height: 50%;
    display: block;
    align-items: center;
    
}
.activity-photo_1 img{
    width: 275px;
    border-radius: 30px;
}
.activity-content_1 button{
    background-color: #f27c04;
    border: none;
    border-radius: 30px;
    width: 255px;
    height: 50px;
    font-size: 20px;
    color: #091d30;
    font-weight: bold;
    margin: 10px;
}


.featured-activities_2{
    border: 1px solid #091d30;
    border-radius: 50px;
    width: 275px;
    height: 450px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    position: absolute;
    left: 60%;

    
}
.activity-photo_2{
    height: 48%;
}
.activity-content_2{
    height: 50%;
    display: block;
    align-items: center;
    
}
.activity-photo_2 img{
    width: 275px;
    border-radius: 30px;
}
.activity-content_2 button{
    background-color: #f27c04;
    border: none;
    border-radius: 30px;
    width: 255px;
    height: 50px;
    font-size: 20px;
    color: #091d30;
    font-weight: bold;
    margin: 10px;
}

